/* .col-lg-2.layout-side-section{
      position: fixed;

      height: 100vh;
      width: 220px; 
      overflow-y: auto;
      background-color: #FAEDCA; 
      z-index: 1000; 
      border-right: 1px solid #F2C078;
} */
.row.layout-main {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

/* Sidebar */
.layout-side-section {
  position: fixed;
  overflow: auto;
  left: 0;
  width: 220px;
  height: 100vh;
  /* overflow-y: auto; */
  background-color: #213448;
  /* border-right: 1px solid; */
  color: white; /* Text color */
  z-index: 1000;
}
 .desk-sidebar-item.selected {
      background-color: #547792 !important;
 }
 .desk-sidebar-item {
   transition: background-color 0.3s ease;
 }
.sidebar-item-label{
  color: #ECEFCA ;
}
.section-title{
    color: #ECEFCA ;
}
 .desk-sidebar-item:hover {
      background-color: #547792 !important;
 } 
.page-title{
  position:fixed;
  left: 0;
  width: 220px;
  height: 100vh;
  margin:auto
}
 :root, [data-theme=light] {
     --icon-stroke-sm: #ECEFCA;
 }
 path[d="M3 8h18M3 6v11a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2z"] {
     stroke: var(--icon-stroke-sm);
 }
 path[d="M7.5 4.84l9.818 4.91M21 7.91L12.818 12 3 7.09M12.818 12v9"] {
     stroke: var(--icon-stroke-sm);
 }
 path[d="M6.273 15.136h4.09"] {
     stroke: var(--icon-stroke-sm);
 }
 path[d="M19.894 7.356A2 2 0 0 1 21 9.146v5.813a2 2 0 0 1-.971 1.715l-6.27 3.761a2 2 0 0 1-1.923.074l-7.73-3.865A2 2 0 0 1 3 14.854V8.328a2 2 0 0 1 1.106-1.789l6.181-3.09a2 2 0 0 1 1.79 0l7.817 3.908z"] {
     stroke: var(--icon-stroke-sm);
 }
 path[d="M2.646 5.686a.5.5 0 0 1 .708 0L8 10.333l4.646-4.647a.5.5 0 0 1 .708.708l-5 5a.5.5 0 0 1-.708 0l-5-5a.5.5 0 0 1 0-.708Z"] {
     stroke: var(--icon-stroke-sm);
 }
 path[d="M5.646 13.354a.5.5 0 0 1 0-.708L10.293 8 5.646 3.354a.5.5 0 1 1 .708-.708l5 5a.5.5 0 0 1 0 .708l-5 5a.5.5 0 0 1-.708 0Z"] {
     stroke: var(--icon-stroke-sm);
 }
 path[d="M13.354 10.854a.5.5 0 0 1-.708 0L8 6.207l-4.646 4.647a.5.5 0 0 1-.708-.708l5-5a.5.5 0 0 1 .708 0l5 5a.5.5 0 0 1 0 .708Z"] {
     stroke: var(--icon-stroke-sm);
 }
 path[d=""] {
     stroke: var(--icon-stroke-sm);
 }